/*mobile first*/


body{
  font-family: 'Poppins', sans-serif;
  color: white;
}

section{
  background-color: hsl(0, 100%, 74%) ;
  background-image: url("images/bg-intro-mobile.png");
  height: 100%;
  width: 100%;
}

.learn{
  padding-top: 3em;
  text-align: center;
  font-size: 1.2em;
}

.see{
  text-align: center;
  margin-bottom: 6vh;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 16px;
}

.try-it{
  background-color: hsl(248, 32%, 49%);
  margin: 1.5em;
  border-radius: 10px;
  padding: .8em;
  text-align: center;
  font-size: 16px;
  box-shadow: 1px 6px #d96667;
}

span{
  font-weight: bold;
}

form{
  width: 70%;
  margin: auto;
  padding: 1.5em;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 6px #d96667;
}

input{
  color: hsl(246, 25%, 77%);
  border: solid hsl(246, 25%, 77%) 1px;
  border-radius: 5px;
  width: 80%;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 2.5em;
}



.errorMessage{
  font-size: 12px;
  font-style: italic;
  color: white;
  text-align: right;
  margin: 0;
  padding: 0;
}

::placeholder{
  font-weight: bold;
  font-size: 14px;
}

.invalidEmail::placeholder{
  color: hsl(0, 100%, 74%);
  font-size: 20px;
}

button{
  /*border: solid 1px white;*/
  box-shadow: 1px 3px #37b57e;
  color: white;
  background-color: hsl(154, 59%, 51%);
  border-color: hsl(154, 59%, 51%);
  width: 100%;
  padding: .8em;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 1em;;
}

.disclaimer{
  text-align: center;
}

.disclaimer p{
  font-size: 12px;
  color: hsl(246, 25%, 77%) 
}

.disclaimer span{
  color: hsl(0, 100%, 74%) ;
}
.extra{
  padding: 1em;
}

footer{
  display: none;
}



/*tablet*/
@media (min-width: 768px) { 

  input{
    width: 90%;
  }
 
  .try-it{
      width: 74%;
      margin: auto;
      margin-bottom:  2em;
    
  }
 }

/*desktop*/
@media (min-width: 992px) { 

  
section{
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .top-div{
    padding: 8vh;
    width: 40%;
    height: 100%;
  }

  .bottom-div{
    margin-top: 10vh;
    width: 60%;
    height: 100%;
    margin-bottom: 10vh;
  
  }

  
  .learn{
    font-size: 2em;
    margin-top: 3em;
    text-align: left;
    width: 100%;

    
  }

  .see{
  font-size: 18px;
   text-align: left;
   margin-left: 0em;
   margin-right: 0em;
   padding: 0;
  }

  

  .try-it{
    width: 95%;
   margin-left: 0;
   
  }

  form{
    width: 90%;
  }

  input{
    width: 90%;
  }

  button{
    border-radius: 10px;
  }

  .extra{
    display: none;
  }

  footer{
    display: block;
    
  }
 
 }